# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/petstore-React/node_modules
/petstore-React/.pnp
/petstore-React/.pnp.js

# testing
/petstore-React/coverage

# production
/petstore-React/build

# misc
/petstore-React/.DS_Store
/petstore-React/.env.local
/petstore-React/.env.development.local
/petstore-React/.env.test.local
/petstore-React/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
